/* Row Styles */
.row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.item {
    width: 30%;
    padding: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.category-navigation {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.category-btn {
    background-color: #FFB400;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
}

.category-btn:hover {
    background-color: #ff8c00;
}
